.heading {
  align-items:center;
}

.text {
  color: #D1C0A8;
  padding:10px;
}

body {
  background-color: #614028;
}

.itemimg{
  width:200px;
  height:200px;
  padding:10px;
}

.ItemGrid{
  display:space-around;
}

.country-buttons {
  width:400px;
  height:400px;
  margin:10px;
  flex-direction:columns;
  align-content: space-around;
  justify-content: space-around;

  text-color: #614028;
  background-color: #D1C0A8; /* tan color */
  transition: background-color 0.3 ease; 
}

       
.country-buttons:hover {
  background-color: #614028; /* brown color */
  text-color:#D1C0A8;
  cursor: pointer;   
}


.Caption{
  padding:10px;
  text-color:#D1C0A8;
  font-family: "Trattatello", fantasy;
}
