.heading {
  text-align:center;
  color: #D1C0A8;
}

.text {
  color: #D1C0A8;
  padding:10px;
}

body {
  background-color: #614028;
}

.itemimg {
  width: 200px;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
}

.ItemGrid {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    gap: 20px;
}

.country-buttons {
  background-color: #D1C0A8;

  margin:50px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}
       
.country-buttons:hover {
  background-color: #614028; /* brown color */
  cursor: pointer;   
}
