.Text {
  color: #D1C0A8;
}

body {
  background-color: #614028;
}

.itemimg{
  width:100px;
  height:100px;
  padding:20px;
}

.ItemGrid{
  display:grid;
  grid-template-columns:1;
}

.itemcontainer{
  margin:50px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  padding:20px;
  width:20px;
  background-color: #D1C0A8;
}

.color-container {
    width: 20px;
    height: 20px;
    background-color: #D1C0A8; /* tan color */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3 ease; 
        }

       
.color-container:hover {
    background-color: #614028; /* brown color */
    cursor: pointer;   
}


.Caption{
}
